/* Estilos para el footer */
.footer {
    background-color: #282c34; /* Color de fondo oscuro */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contact-info, .social-media {
    flex: 1; /* Cada sección ocupa el mismo espacio */
}

h3 {
    margin-bottom: 10px;
}

.social-media a {
    display: block; /* Enlaces en bloque para mejor visualización */
    color: #ffcc00; /* Color de los enlaces */
    text-decoration: none;
    margin: 5px 0;
}

.social-media a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}

.footer-bottom {
    padding: 10px 0;
    border-top: 1px solid #444; /* Línea superior para separación */
}