.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Asegúrate de que los productos se distribuyan uniformemente */
    margin: 0 -10px; /* Para compensar el padding en los elementos hijos */
  }